#market-info-bar {
    width: 100%;
    height: 40pt;
    margin: 10pt;
    text-align: left;
}

#input-bar {
    width: 100%;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

#output-bar {
    margin-top: 5pt;
    margin-bottom: 5pt;
}
