#navigation-bar {
    text-align: left;
    width: 490px;
    padding: 10pt;
    margin: auto;
}

#dash {
    font-size: 40px;
    color: #97cefe;
    font-weight: bold;
}

#fair {
    font-size: 40px;
    color: #f7bcc6;
    font-weight: bold;
}
