#ladder-header {
    height: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

#ladder-header .price {
    float: left;
    height: 20px;
    width: 50px;
    text-align: center;
    line-height: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    font-weight: bold;
}

#ladder-header .back-lay {
    float: left;
    height: 20px;
    width: 125px;
    text-align: center;
    line-height: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    font-weight: bold;
}
